<ion-view title="Adicionar Laudo" id="page2" >
  
        <ion-content padding="true" class="has-header" >

        <div ng-controller="adicionarLaudoCtrl">

            </div>


        <form id="adicionarLaudo-form2" class="list" >
            
            <label class="item item-input" id="adicionarLaudo-input3" >
                <span class="input-label" >O.S: {{codigo}} - Data:07/09/2016</span>
            </label>
                

            <label class="item item-input" id="adicionarLaudo-input4">
                <span class="input-label">Cliente: Cargil - Umuarama</span>
                
            </label>
            <label class="item item-input" id="adicionarLaudo-input5">
                <span class="input-label">Origem: Cocamar - Maringá</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="adicionarLaudo-input6">
                <span class="input-label">Placa:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="adicionarLaudo-input15">
                <span class="input-label">Nº Nota Fiscal:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="adicionarLaudo-input8">
                <span class="input-label">Produto: Milho</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="adicionarLaudo-input10">
                <span class="input-label">Umidade:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="adicionarLaudo-input11">
                <span class="input-label">Impureza:</span>
                <input type="text" placeholder="">
            </label>
            <ion-checkbox>GMO</ion-checkbox>
            <ion-checkbox>Intacta</ion-checkbox>
            <label class="item item-select" id="adicionarLaudo-select1">
                <span class="input-label">Unidade Medida</span>
                <select>
                    <option>Gramas</option>
                    <option>Kilogramas</option>
                    <option>Toneladas</option>
                </select>
            </label>
            <label class="item item-input" id="adicionarLaudo-input14">
                <span class="input-label">Peso:</span>
                <input type="text" placeholder="">
            </label>
            <button id="adicionarLaudo-button5" class="button button-positive  button-block">Salvar</button>
        </form>
    </ion-content>
</ion-view>