<ion-view title="Adicionar Laudo Manual" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="adicionarLaudoManual-form4" class="list">
            <label class="item item-input" id="adicionarLaudoManual-input9">
                <span class="input-label">O.S:</span>
                <input type="text" placeholder="código/ano">
            </label>
            <label class="item item-input" id="adicionarLaudoManual-input10">
                <span class="input-label">Data:</span>
                <input type="date" >
            </label>
            <label class="item item-input" id="adicionarLaudoManual-input16">
                <span class="input-label">Placa: ABC 2152 - Nota Fiscal: 100021</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="adicionarLaudoManual-input17">
                <span class="input-label">Produto: Milho</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="adicionarLaudoManual-input18">
                <span class="input-label">Umidade:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="adicionarLaudoManual-input19">
                <span class="input-label">Impureza:</span>
                <input type="text" placeholder="">
            </label>
            <ion-checkbox>GMO</ion-checkbox>
            <ion-checkbox>Intacta</ion-checkbox>
        </form>
    </ion-content>
</ion-view>