<ion-view title="Login" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list">
            <ion-list id="login-list4">
                <label class="item item-input" id="login-input12">
                    <span class="input-label">Usuário</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input13">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="listagemOS" id="login-button4" class="button button-stable  button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>