<ion-view title="Visualizar Laudo" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="visualizarLaudo-form5" class="list">
            <label class="item item-input" id="visualizarLaudo-input20">
                <span class="input-label">O.S - 10/2016 Data:07/09/2016</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="visualizarLaudo-input21">
                <span class="input-label">Cliente: Cargil - Umuarama</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="visualizarLaudo-input22">
                <span class="input-label">Origem: Cocamar - Maringá</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="visualizarLaudo-input23">
                <span class="input-label">Placa: ABC 1250</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="visualizarLaudo-input24">
                <span class="input-label">Nº Nota Fiscal: 585859</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="visualizarLaudo-input25">
                <span class="input-label">Produto: Milho</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="visualizarLaudo-input26">
                <span class="input-label">Umidade: 15%</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="visualizarLaudo-input27">
                <span class="input-label">Impureza: 20%</span>
                <input type="text" placeholder="">
            </label>
            <ion-checkbox>GMO</ion-checkbox>
            <ion-checkbox>Intacta</ion-checkbox>
            <label class="item item-select" id="visualizarLaudo-select2">
                <span class="input-label">Unidade Medida</span>
                <select>
                    <option>Toneladas</option>
                </select>
            </label>
            <label class="item item-input" id="visualizarLaudo-input28">
                <span class="input-label">Peso: 2</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>